html, body, main {
  width: 100%;
  height: 100%;
}

body{
  margin:0;
  top:0;
}

nav a {
  font-family: cambria;
  line-height:2.4em;
  font-size:36px;
  
  text-decoration: none;
  color: white;
  margin-right: 66px;
}

nav{
  position: fixed;
  right: 50px;
  top: 150px;
  text-align: right;

}

header, main {
    z-index: 10;
}

main {
  font-size: 0;
}

nav {
   
}

a {
    display: block;
}

.panel {
  display: inline-block;
  vertical-align: top;
}

.left-panel{
  margin: 0px;
  padding: 0px;
  width: 25%;
  height: 100%;
  background-image: url(picture/rose_left.jpg);
  background-size: cover;
}

.center-panel{
  width:50%;
  height: 100%;
}

.center-panel .wrapper {
  display: flex;
  height: 100%;
}


.center-panel img {
  height: 100%;
  width: auto;
  max-height: 500px;
  margin: auto;
  display: block;
}

.right-panel{
  margin: 0px;
  padding: 0px;
  width:25%;
  height: 100%;
  background-image: url(picture/rose_right.jpg);
  background-size: cover;
}
