
body {
  font-family: futura;
  line-height:2em;
  font-size:18px;
  padding-left:0px;
}

header, main {
    z-index: 10;
}


main img {
    margin: auto;
    margin-top: 120px;
    display: block;
    width:180px;
}

nav {
    position: fixed;
    right: 50px;
    top: 150px;
    text-align: right;
}

a {
    display: block;
}
