h1{
    background-color:white;
    color:c0c0c0;
    font-size: 27px;
    line-height: 66px;
    letter-spacing: 1px;
    font-family: "016416 523783b2aa13184ae61013bd69ece5d3";
}

h2{
    background-color:white;
    color:c0c0c0;
    font-size: 21px;
    line-height: 66px;
    letter-spacing: 1px;
    font-family: futura
}

p{
    background-color:white;
    color:c0c0c0;
    font-size: 27px;
    line-height: 66px;
    letter-spacing: 1px;
    font-family: baskerville
}