body {
	background-image: url("background.jpg");
	background-repeat: no-repeat;
}

img{
	width: 120px;
	height: auto;
	margin: auto;
	background-color: none;

}

#container{
	width: 900px;
	height: 600px;
	/*background-color: white; *//*You can delete this after aligning the box*/
	margin-left: 100px;
	margin-top: 75px;
}

.h1{
	font-family: futura;
	font-size: 66px;
}